@charset "UTF-8" ;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-inner {
  background-color: #BCC5CE;
  height: 60px;
  display: flex;
  align-items: center;
}

.header-inner h1 {
  margin-left: 45px;
  font-size: 19px;
  font-weight: normal;
  color: #2b2b2b;
}

.header-inner button {
  background-color: #E6DFD9;
  border: none;
  font-size: 18px;
  border-radius:8px;
  padding: 4px 20px 4px 20px;
}

.a  {
  margin-left: 850px;
  margin-right: 20px;

}

.mainmain {
  height: calc(100vh - 60px);
  background-image: url(/static/images/DSC_3041.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6;

  position: relative;
}

.yoyaku {
  position: absolute;
  font-size: 20px;
  padding: 13px 40px;
  line-height: 1.428571429;
  top: 300px;
  left: 480px;
  border-radius:4px;
  border: none;
  color: black;
  z-index: 3;
}

.a1 {
  position: absolute;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: normal;
  color: black;
  top: 250px;
  left: 560px;
  border-radius:3px;
  border: none;
}

.menu {
  background: rgba(255, 255, 255,0.7);
  height: 593.33px;
  width: 300px;
  float: right;
}

.menu nav {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.menu nav li {
  font-size: 30px;
  margin: 10px;
}











.modal_wrap input {
  display: none;
}

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content {
  margin-bottom: 300px;
    align-self: center;
    width: 60%;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transition: 0.5s;
    z-index: 5;
}

.modal_content p {
  padding-top: 0;
}

.close_button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content {
  transform: translateY(20px);
}

.open_button {
  margin-right: 159px;
    text-align: center;
    font-size: 30px;
    cursor :pointer;
    transition: all 0.3s;
    display: block;
    max-width:300px;
    text-decoration: none;
}

.open-button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*下に動く*/

}

/*アイコンを表示*/
.open-button:after {
font-family: "Font Awesome 5 Free";
  content: "\f2d0";
    padding-left: 8px;
}

/*ラベルホバー時*/
.open-button:hover {
  color: #FFFFFF;
  background-color: #4f96f6;
  transition: .6s;
}

.modal_title2 {
  font-size: 1.5em;
	position: relative;
	overflow: hidden;
  padding-bottom: 10px;
  margin-top:0;
  margin-bottom: 15px;
}

.modal_title2::before,
.modal_title2::after{
	content: "";
	position: absolute;
	bottom: 0;
}

/* h2 プライマリカラー*/
.modal_title2:before{
	border-bottom: 4px solid #6bb6ff;
	width: 100%;
}
/* h2 セカンダリカラー*/
.modal_title2:after{
	border-bottom: 4px solid #c8e4ff;
	width: 100%;
}