<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/riset.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>予約システム</title>
  <link rel="stylesheet" href="../static/index.css">
</head>

<body>
  <header>
    <div class="header-inner">
      <h1>自習室予約</h1>
      <a href="/register"><button class="a">新規作成</button></a>
      <a href="/login"><button>ログイン</button></a>
    </div>
  </header>
  <main>
    <div class="mainmain">
      <div class="menu">
        <nav>
          <li>キャンセル</li>
          <li>お知らせ</li>
          <li>履歴</li>
          <li>設定</li>
          <li>フィードバック</li>
        </nav>
      </div>
    </div>
    <button class="yoyaku">予約</button>
    <h1 class="a1">自習しよう</h1>
  </main>
  <footer>
  </footer>
</body>

</html>