<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-inner">
        <h1>ログイン</h1> 
    </div>
    <form method="POST">
        <div class="infomation">
            <label for="email" class="h1">メールアドレス</label><br>
            <input type="text" id="email" name="email" required><br>
            <label for="password" class="h1">パスワード</label><br>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="ログイン" class="login">
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

</body>
</html>